{
    "preset": [
        "env", {
            "target": {
                "broesers": [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }
    ]
}